.mark-dark {
    background-color: rgb(32, 32, 32);
}
.argue {
    background-color: rgb(26, 26, 26);
    background-attachment: fixed;
    height: 100%
}
.hvh {
    padding-top: 10vh;
}
.argue-pic-1 {
    background-image: url(../img/pic-1.png);
    background-position: center center;
    background-attachment: fixed;
    background-size: 60%; 
    background-repeat: no-repeat;
    height: 50vh
}
.argue-pic-2 {
    background-image: url(../img/pic-2.png);
    background-position: center center;
    background-attachment: fixed;
    background-size: 60%; 
    background-repeat: no-repeat;
    height: 50vh
}
.argue-pic-3 {
    background-image: url(../img/pic-3.png);
    background-position: center center;
    background-attachment: fixed;
    background-size: 60%; 
    background-repeat: no-repeat;
    height: 50vh
}
.lpic {
    background-image: url(../img/stonehouse.JPG);
    background-position: left top;
    background-attachment: fixed;
    background-size: contain; 
    background-repeat: no-repeat;
    height: 50vh
}

