<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="開發之手深入極東漁村 馬崗文化保存之役">
    <meta property="og:url" content="https://alan000322.github.io/magangstory/assignment-bootstrap/index.html">
    <meta property="og:image" content="img/shortcut.png">
    <meta property="og:description" content="開發之手深入極東漁村 馬崗文化保存之役">
    <title>開發之手伸入極東漁村 馬崗文化保存之役</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="shortcut icon" href="img/cat.png" type="image/x-icon">
    <link rel="stylesheet" href="css/intro.css">
    <link rel="stylesheet" href="css/argue.css">
    <link rel="stylesheet" href="css/judge.css">
    <link rel="stylesheet" href="css/timeline.css">
    <link rel="stylesheet" href="css/video-control.css">
    <link rel="stylesheet" href="css/vh.css">
    <link rel="stylesheet" href="css/loading.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;500;600;700;900&display=swap"
        rel="stylesheet">
    <style>
        body {
            font-family: 'Noto Serif TC', serif;
        }

    </style>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
        crossorigin="anonymous"></script>
    <!-- <script>alert('請暫時使用電腦版閱讀，響應式網頁還在設計中...')</script> -->
    <section class="intro">
        <section class="video-part">
            <div class="container-fluid">
                <video class="video-basic" playsinline height="100%" preload src="./magang.mov"></video>
                <!-- 確保safari可以運作playsinline -->
            </div>
            <div class="vh-400-bg-dark-transparent">
                <div class="container vh-100 flex-column d-flex justify-content-center align-items-center">
                    <div class="title d-block">
                        <h2 class="fw-bold text-light">開發之手伸入極東漁村</h2>
                    </div>
                    <div class="title d-block">
                        <h2 class="fw-bold text-light">馬崗文化保存之役</h2>
                    </div>
                </div>            
            </div>
                
            <div class="vh-400-bg-dark-transparent">
                <div class="row pt-5">
                    <p class="lead text-light text-center fs-6">
                        馬崗村、或說馬崗街，其實並不特殊，僅是眾多東北角沿線零星村落中的其一。
                    </p>
                </div>              
            </div>
            <div class="vh-300-bg-dark-transparent">
                <div class="row pt-5">
                    <p class="lead text-light text-center fs-6">
                        馬崗村位於新北市貢寮區。儘管臨近福隆火車站，但仍因交通不易到達，也非指標性觀光景點，並不引人注目。
                    </p>
                </div>                
            </div>
            <div class="vh-300-bg-dark-transparent">
                <div class="row pt-5">
                    <p class="lead text-light text-center fs-6">
                        儘管臨近福隆火車站，但仍因交通不易到達，也非指標性觀光景點，並不引人注目。
                    </p>
                </div>                
            </div>
            <div class="vh-100-bg-dark-transparent">
                <div class="row pt-5">
                    <p class="lead text-light text-center fs-6">
                        位於台灣極東角，全臺灣最東邊的漁村。居民多以捕魚、養殖漁業、採集石花菜和紫菜等維生。
                    </p>
                </div>                
            </div>
        </section>
    </section>
    <section class="intro2">
        <div class="container">
            <div class="row">
                <div class="lead text-light d-flex justify-content-center vh-align-center2">
                    <div class="desp-rect2 d-flex justify-content-center align-items-center">
                        <p class="my-auto fs-6 mx-auto p-4 text-center">
                            這裡保留了許多百年歷史的石頭屋，根據當地耆老回憶，石頭屋就地取用沿岸的石頭，有錢人家會再由打石師傅構築而成。
                            <br>
                            近年來面臨多數偏鄉共同存在的人口老化問題，僅剩老年人仍留在此地工作，然而樸實的生活顯而易見。
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="intro3">
        <div class="container">
            <div class="row">
                <div class="lead text-light d-flex justify-content-center vh-align-center3">
                    <div class="desp-rect3 d-flex  justify-content-center align-items-center">
                        <p class="my-auto fs-6 mx-auto p-4 text-center">
                            向潮間帶一望，除了釣客、遊客外，還會看到幾位「海女」，蹲在潮間帶採集。這裡有不為言說的「海女文化」，數十年來一些居民因季節不同，以採集石花菜、紫菜維生，成為東北角獨特的海岸地景。
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container intro-mark">
            <div class="row">
                <div class="lead text-light d-flex justify-content-center vh-align-center3-2">
                    <div class="desp-rect3-2 d-flex  justify-content-center align-items-center">
                        <p class="mark-dark-anchor my-auto fs-6 mx-auto p-4 text-center">
                            而看似平靜的村落，於2018年中，始掀起了一陣風波。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="argue">
        <div class="container-fluid">
            <div class="row p-3 d-flex justify-content-center">
                <div class="col-md-4 text-light fs-6 mt-5 pt-5">
                    <div class="row d-flex justify-content-center">
                        <div class="colmd- hvh">
                            <p class="display-4 text-center ">14</p>
                            <p class="text-center">關於拆屋還地的民事訴訟</p>
                        </div>
                    </div>
                </div>
                <div class="lead col-md-5 text-light fs-6 mt-5 pt-5">
                    <p class="py-1">2018年三、四月馬崗村居民幾戶陸續收到法院訴訟通知，劃開了原先村子安闐的日子。</p>
                    <p class="py-1">據了解，財團向地主收購土地，幾乎買下村落約一半土地的面積，近期開始對居民提出無權佔有的拆屋還地訴訟，全然否認原先地主與居民的基地租賃契約關係。 </p>
                    <p class="py-1">但對居民來說，從他們的祖先開始即世居於此，每年繳錢給地主，地主也是鄰居、大家都互相認識。</p>
                    <p class="py-1">誰也沒想過住了幾十年的家突然被一個不認識的財團說沒有權利住在這裡，令居民匪夷所思。</p>
                </div>
            </div>
        </div>
        <div class="argue-pic-1"></div>
        <div class="argue-pic-2"></div>
        <div class="argue-pic-3"></div>
        <div class="container-fluid">
            <div class="row p-3 d-flex justify-content-center">
                <div class="col-md-4 text-light fs-6">
                    <div class="row d-flex justify-content-center">
                        <div class="col p-5 hvh">
                            <figure class="figure">
                                <img class="figure-img img-fluid rounded" src="img/wanshi.JPG" alt="罔市阿嬤">
                                <figcaption class="figure-caption">78歲的陳罔市</figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="lead col-md-5 text-light fs-6">
                    <p class="py-1">
                        78歲的陳罔市居住在馬崗村多年，以洗海菜維生。因馬崗的大半土地被財團買走，忍不住嘆氣：「現在這邊土地都被財團買走，說要一坪一萬五叫我們搬走，那我們給他們（財團）一萬五，他們賣不賣阿？這邊可是我們一輩子的家，人沒辦法住，祖先（牌位）也沒辦法住了啊！」
                    </p>
                    <p class="py-1">
                        為什麼會發生「住那麼久但沒有實質土地所有權」的狀況。居民游伯軒接受《我們的島》採訪表示，過去居民沒念過什麼書，土地皆以口頭契約為主，居民一年一年繳租金、有些居民也僅口頭承諾，多年來皆依循這樣的模式。環境權保障基金會涂又文接受《我們的島》採訪提到，在地居民對於所有權的概念其實相對薄弱，法庭上仍會傾向忽略歷史脈絡、從而以法律看待這樣的事情。有學者認為，不能以現代契約的觀念作為裁判依據，否則可能會引起迫遷疑慮。
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section class="judge vh-100-responsive pt-5">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <h3 class="text-center">法院判決整理</h3>
                <div class="col-md-2 form-check form-switch">
                    <input class="form-check-input" type="radio" id="min" name="t" v-model="suit" value="min" checked>
                    <label class="form-check-label text-dark" for="min">民事訴訟</label>
                </div>
                <div class="col-md-2 form-check form-switch">
                    <input class="form-check-input" type="radio" id="shin" name="t" v-model="suit" value="shin">
                    <label class="form-check-label text-dark" for="shin">行政訴訟</label>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-lg-7 table-responsive">
                    <table class="table table-sm table-hover">
                        <thead>
                            <tr>
                                <th>裁判日期</th>
                                <th>原告主張</th>
                                <th>被告主張</th>
                                <th>結果</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="judgement in filterJList">
                                <td scope="row">
                                    {{judgement.time}}
                                </td>
                                <td>
                                    {{judgement.plaintiff}}
                                </td>
                                <td>
                                    {{judgement.defendent}}
                                </td>
                                <td :class="judgement.result_type">{{judgement.result}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </section>
    <section class="timeline">
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                <div class="col-xl-4 lpic-timeline px-5">
                    <div class="row d-flex justify-content-center pt-5">
                        <h4 class="text-center text-light py-4">居民提出文資保存的歷程</h4>
                        <div class="col-xl-4 form-check form-switch pb-2">
                            <input class="form-check-input" type="radio" id="history" name="h" checked v-model="type"
                                value="history">
                            <label class="form-check-label text-light" for="history">歷史建築</label>
                        </div>
                        <div class="col-xl-5 form-check form-switch pb-2">
                            <input class="form-check-input" type="radio" id="town" name="h" v-model="type" value="town">
                            <label class="form-check-label text-light" for="town">聚落建築群</label>
                        </div>
                    </div>
                    <table class="table table-sm table-hover table-light">
                        <thead>
                            <tr>
                                <th>時間表</th>
                                <th>內容</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="line in filterTList">
                                <td scope="row">
                                    {{line.time}}
                                </td>
                                <td>
                                    {{line.content}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-xl-1"></div>
                <div class="lead col-xl-5 text-light fs-6 px-3">
                    <div class="row d-flex flex-column justify-content-center pt-4 px-5 mt-3">
                        <p class="py-1 col">
                            2018下半年，幾位居民和相關團體向新北市文化局提報歷史建築和聚落建築群，試圖透過文資保存的方式，保留這裡百年石頭屋與樸實的產業與海女文化，也期望能因此讓居民免於迫遷危機。
                        </p>
                        <p class="py-1 col">
                            多起訴訟持續，近期的兩起行政訴訟，包括財團（好魚田股份有限公司）針對新北市政府將兩處石頭屋訂為歷史建築提出撤銷訴訟，及居民針對新北市政府不予登記為聚落建築群提出撤銷訴訟，最終分別認定財團敗訴、居民勝訴。馬崗街的歷史建築暫時保住。
                            <br>
                            <br>
                            -
                            <br>
                            <br>
                            居民吳大哥在當地幫忙鄰居捕魚、現在幫人抓九孔、當潛水伕。問起石頭屋之於他是什麼樣的感情。又為什麼這些人會想要保存，這些東西真的這麼重要嗎？
                            <br>
                            <br>
                            吳大哥沉了一下，欲言又止，似乎也不知怎著詮釋。背對著山，後頭海湧一如往常的波擺。
                            <br>
                            <br>
                            「就是按呢樣。阮遮足久啊......。」
                            <br>
                            <br>
                            似乎就是這樣吧，其實期待什麼特別的答案，其實沒有。所謂的「感情」，其實就是日常。感情並沒有什麼邏輯與輪廓，像光一般的存在，很自然的存在。
                            <br>
                            <br>
                            但它卻就是存在在那，就在那。一直在那。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
    <script src="js/data.js"></script>
    <script src="js/judge.js"></script>
    <script src="js/timeline.js"></script>
    <script src="js/video-control.js"></script>
</body>

</html>